@@ -1,37 +1,5 @@
# Creado por https://www.toptal.com/developers/gitignore/api/visualstudiocode,java,maven,intellij,angular,node
# Editar en https://www.toptal.com/developers/gitignore?templates=visualstudiocode,java,maven,intellij,angular,node

# ## Angular ###
# # angulares ##
# salida compilada
dist /
tmp /
aplicación / ** / * .js
aplicación / ** / * .js.map

# dependencias
módulos_nodo /
componentes_bower /

# IDE y editores
.idea /

# varios
.sass-cache /
conectar.lock /
cobertura /
libpeerconnection.log /
npm-debug.log
testem.log
mecanografías /
.angular /

# e2e
e2e / * .js
e2e / * .mapa

# Archivos del sistema
.DS_Tienda /
# Creado por https://www.toptal.com/developers/gitignore/api/gradle,java,maven,node,visualstudiocode,intellij,intellij+all,intellij+iml,python
# Editar en https://www.toptal.com/developers/gitignore?templates=gradle,java,maven,node,visualstudiocode,intellij,intellij+all,intellij+iml,python

# ## Intellig ###
# Cubre los IDE de JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm y Rider
@@ -146,6 +114,121 @@ tela.properties
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea / ** / azureSettings.xml

# ## Intellij+todos ###
# Cubre los IDE de JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm y Rider
# Referencia: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Cosas específicas del usuario

# AWS Específico del usuario

# archivos generados

# Archivos sensibles o de alta rotación

#Gradle _

# Gradle y Maven con importación automática
# Cuando utilice Gradle o Maven con importación automática, debe excluir los archivos del módulo,
# ya que se volverán a crear y pueden provocar abandono. Descomentar si se usa
# importación automática.
# .idea/artefactos
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/módulos
# *.iml
# *.ipr

# Chacer

# Complemento Mongo Explorer

# Formato de proyecto basado en archivos

#IntelliJ _

# complemento mpeltonen/sbt-idea

# Complemento JIRA

# Complemento de Clojure cursiva

# Complemento SonarLint

# Complemento Crashlytics (para Android Studio e IntelliJ)

# Cliente de descanso basado en editor

# Archivo de caché serializado de Android Studio 3.1+

# ## Intellij+todos los parches ###
# Ignorar todo menos la configuración de estilo de código y ejecutar configuraciones
# que se supone que deben compartirse dentro de los equipos.

.idea / *

! .idea / codeStyles
! .idea / runConfiguraciones

# ## Intellij+iml ###
# Cubre los IDE de JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm y Rider
# Referencia: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Cosas específicas del usuario

# AWS Específico del usuario

# archivos generados

# Archivos sensibles o de alta rotación

#Gradle _

# Gradle y Maven con importación automática
# Cuando utilice Gradle o Maven con importación automática, debe excluir los archivos del módulo,
# ya que se volverán a crear y pueden provocar abandono. Descomentar si se usa
# importación automática.
# .idea/artefactos
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/módulos
# *.iml
# *.ipr

# Chacer

# Complemento Mongo Explorer

# Formato de proyecto basado en archivos

#IntelliJ _

# complemento mpeltonen/sbt-idea

# Complemento JIRA

# Complemento de Clojure cursiva

# Complemento SonarLint

# Complemento Crashlytics (para Android Studio e IntelliJ)

# Cliente de descanso basado en editor

# Archivo de caché serializado de Android Studio 3.1+

# ## Parche Intellij+iml ###
# Motivo: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

* .iml
módulos.xml
.idea / misc.xml
* .ipr

# ## Java ###
# Archivo de clase compilado
* .clase
@@ -232,6 +315,7 @@ bower_components
construir / liberar

# Directorios de dependencia
módulos_nodo /
jspm_packages /

# Directorio de dependencias de Snowpack (https://snowpack.dev/)
@@ -329,6 +413,174 @@ dist.
# SvelteKit construye/genera salida
.kit-esbelto

# ## Pitón ###
# Archivos DLL / optimizados / compilados en bytes
__pycache__ /
* .py [ bacalao ]
* $py.clase

# extensiones C
* .entonces

# Distribución / embalaje
.Pitón
construir /
desarrollar-huevos /
dist /
descargas /
huevos /
.huevos /
biblioteca /
lib64 /
partes /
dist /
var /
ruedas /
compartir / ruedas-python /
* .egg-info /
.instalado.cfg
* .huevo
MANIFIESTO

#PyInstaller _
#   Normalmente estos archivos se escriben mediante un script de Python a partir de una plantilla.
#   antes de que PyInstaller construya el exe, para inyectarle la fecha/otra información.
* .manifiesto
* .Especificaciones

# Registros del instalador
pip-log.txt
pip-eliminar-este-directorio.txt

# Prueba unitaria / informes de cobertura
htmlcov /
.tox /
.nox /
.cobertura
.cobertura. *
pruebas nasales.xml
cobertura.xml
* .cubrir
* .py,cubierta
.hipótesis /
.pytest_cache /
cubrir /

# Traducciones
* .mo
* .maceta

# Cosas de Django:
configuración_local.py
db.sqlite3
db.sqlite3-diario

# Cosas del matraz:
instancia /
.webassets-caché

# Cosas chatarras:
.rasposo

# Documentación de la esfinge
documentos / _build /

#PyBuilder _
.pybuilder /

# Cuaderno Jupyter
.ipynb_checkpoints

# IPython
perfil_predeterminado /
ipython_config.py

#pyenv _
#    Para una biblioteca o paquete, es posible que desee ignorar estos archivos ya que el código es
#    pensado para ejecutarse en múltiples entornos; en caso contrario, consúltelos en:
# .python-versión

#pipenv _
#    Según pypa/pipenv#598, se recomienda incluir Pipfile.lock en el control de versiones.
#    Sin embargo, en caso de colaboración, si hay dependencias o dependencias específicas de la plataforma
#    al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionan o no
#    instalar todas las dependencias necesarias.
# Pipfile.bloqueo

# poesía
#    Similar a Pipfile.lock, generalmente se recomienda incluir poesía.lock en el control de versiones.
#    Esto se recomienda especialmente para paquetes binarios para garantizar la reproducibilidad y es más
#    comúnmente ignorado por las bibliotecas.
#    https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poesía.bloqueo

#pdm _
#    Similar a Pipfile.lock, generalmente se recomienda incluir pdm.lock en el control de versiones.
# pdm.bloqueo
#    pdm almacena configuraciones de todo el proyecto en .pdm.toml, pero se recomienda no incluirlo
#    en control de versiones.
#    https://pdm.fming.dev/#use-with-ide
.pdm.toml

#PEP 582; utilizado, por ejemplo, por github.com/David-OConnor/pyflow y github.com/pdm-project/pdm
__pypackages__ /

# Cosas de apio
calendario-de-apio
apiobeat.pid

# Archivos analizados por SageMath
* .sabio.py

# Ambientes
.venv
entorno /
venv /
ENV /
env.bak /
venv.bak /

# Configuración del proyecto Spyder
.proyecto spyder
.proyecto espía

# Configuración del proyecto de cuerda
.proyecto de cuerda

# documentación mkdocs
/ sitio

#mipy _
.mypy_cache /
.dmypy.json
dmypy.json

# Comprobador de tipo pira
.pira /

# analizador de tipo estático pytype
.pytipo /

# Símbolos de depuración de Cython
cython_debug /

#PyCharm _
#   La plantilla específica de JetBrains se mantiene en un JetBrains.gitignore separado que puede
#   se encuentra en https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   y se puede agregar al gitignore global o fusionar en este archivo. Por una política más nuclear
#   opción (no recomendada), puede descomentar lo siguiente para ignorar toda la carpeta de ideas.
# .idea/

# ## Parche de Python ###
# Archivo de configuración local de poesía: https://python-poetry.org/docs/configuration/#local-configuration
poesía.toml

# fallar
.ruff_cache /

# archivos de configuración LSP
pyrightconfig.json

# ## Código VisualStudio ###
.vscode / *
! .vscode / configuración.json
@@ -348,4 +600,29 @@ dist.
.historia
.ionuro

# Fin de https://www.toptal.com/developers/gitignore/api/visualstudiocode,java,maven,intellij,angular,node
# ## Gradle ###
.gradle
** / construir /
! src / ** / compilar /

# Ignorar la configuración de la GUI de Gradle
configuración de la aplicación gradle

# Evite ignorar el archivo jar contenedor de Gradle (los archivos .jar generalmente se ignoran)
! gradle-wrapper.jar

# Evite ignorar las propiedades del contenedor Gradle
! gradle-wrapper.properties

# Caché del proyecto
.gradletasknamecache

# Archivos generados por el complemento Eclipse Gradle
# Núcleo de eclipse
# Específico de JDT (herramientas de desarrollo Java de Eclipse)

# ## Parche Gradle ###
# Volcado del montón de Java
* .hprof

# Fin de https://www.toptal.com/developers/gitignore/api/gradle,java,maven,node,visualstudiocode,intellij,intellij+all,intellij+iml,python
