<!--
@for (book of books; track book.id) {
    <p>
      <a> [routerLink]="['/books, book.id, 'detail']">{{book.id}}</a> {{book.isbn}} {{book.price}}
    </p>
} @empty {
    <p>No hay libros</p>
}
-->
<!--
@for (book of books; track book.id) {
    <p>
      <a [routerLink]="['/books', book.id, 'detail']">{{book.id}}</a> {{book.isbn}} {{book.price}}
    </p>
  } @empty {
    <p>No hay libros.</p>
  }
 -->

 @for (book of books; track book.id) {
    <p>
      <a> <div routerLink="['/books', book.id, 'detail']"></div>{{book.id}}</a> {{book.isbn}} {{book.price}}
    </p>
 } @empty {
    <p>No hay libros</p>
 }
 