

<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <h1 class="my-5">Introducir datos de autor/a</h1>

            <form [formGroup]="authorForm">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                    id="fullName" formControlName="fullName">
                    <label for="fullName">Nombre completo</label>
                </div>

                <div class="input-group">
                    <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
                    <button class="btn btn-outline-secondary" type="button" id="photoBtn"> Button</button>
                </div>

                <button class="w-100 btn btn-primary btn-lg  mb-5 mt-5" type="submit">Guardar</button>
          
            </form>

        </div>
        <div class="col-lg-4">

        @if (photoPreview) {
            <h2 class="my-5">Previsualización foto</h2>
            <img class="img-fluid" [src]="photoPreview">
        }

        </div>
    </div>
</div>
