
@if (user) {
    <h2>Datos del usuario</h2>
    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
    <p>{{user.phone}}</p>

    <!-- Traer compras de este usuario-->

}

<h2>compras realizadas</h2>
@for (cart of carts; track cart.id) {
  <p>{{cart.id}} {{cart.date}} {{cart.products.length}}</p>
  <!-- Mostrar los productos comprados en un bucle for -->
  <ul>
  @for (product of cart.products; track product.productId) {
    <li>{{product.productId}} con cantidad {{product.quantity}}</li>
  }
  </ul>

} @empty {
  <p>Este usuario no ha realizado compras.</p>
}